<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style.css">
    
    
    
    
    
    
    
    
    
    
    
  
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>


  
</head>

<body>

  <!-- Pen content -->
<div class="wrap">
  <header>
    <a id="logo" href="#">HS</a>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Resume</a></li>

      </ul>
    </nav>
  </header>
  
  <main>
    <section class="hero">
      
      
        <h1>
  <span class="typewrite" data-period="2000" data-type='[ "Hello", "My name is Helga", "I&#8217;m a designer who thinks in code", "And an aspiring developer" ]'>
    <span class="wrapp"></span>
  </span>
</h1>
        
      
    </section>
    
      
      
      
      
      
      
      
		<!-- Page content section - basic page content layout -->
		<div class="page section" id="about">
			<h2 class="page-title">about me</h2>
			<div class="page-content">
				<!-- Graphic -->
				<div class="graphic">
					<!-- The graphic for this column should be 750px wide -->
					<figure>
						<img src="https://instagram.fiev7-2.fna.fbcdn.net/vp/5803acdf0537a5487c81047df26c51c4/5D215F78/t51.2885-15/e35/44358846_330834187742780_3327749283205524263_n.jpg?_nc_ht=instagram.fiev7-2.fna.fbcdn.net" alt="">
						<figcaption>
							I create the best projects for the best companies!
						</figcaption>
					</figure>
				</div>
				<!-- Text content -->
				<div class="text text-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nihil laboriosam nostrum sunt porro necessitatibus accusantium provident culpa, officia, distinctio consequatur ab pariatur consequuntur facilis rem soluta earum architecto doloremque.</p>
					<p>Commodi dolorem accusantium ullam eveniet repellat. Beatae id eligendi officiis libero, dolorum minima sint veniam veritatis accusantium, vel, eos dignissimos fuga in non dolores. Saepe doloribus dolorem in asperiores est.</p>
					<p>Nostrum fugit natus enim, cupiditate, magnam sapiente error quas possimus vel dolor illo omnis numquam nihil, fuga facere mollitia aliquam nisi? Possimus magni, nesciunt natus error expedita fuga officia maiores.</p>
					<div class="cta">
						<a href="" class="button pale">get in touch</a>
					</div>
				</div>
			</div>
		</div>

      
      
      
      
      
      
      
      
      
    <section class="content">
      <div id="portfolio" class="row cover">
        <h2 class="text-center">Portfolio</h2>
        <div class="container">
          <div class="row portfolio-projects"> <!-- Two project row-->
            <div class="col-lg-6"> <!--1st side project -->
              <div class="row"> 
                <div class="col-sm-5 text-center">
                  <h4 class="portfolio-projects--title">Earth Quotes</h4>
                  <p class="portfolio-projects--desc">Random quotes shown over google earth images</p>
                  <p class="portfolio-projects--desc">Uses: Javascript, JQuery, Bootstrap</p>
                  <a class="btn btn-rounded portfolio-projects--btn" href="http://industry4.000webhostapp.com/" role="button">View Project</a>
                </div>
                <div class="col-sm-7 text-center">
                  <img class="portfolio-projects--image" src="https://public-media.driftvideo.com/videos-gifs/HYFY-RECORDING-721995-755461-1560848307.0.gif">
                </div>
              </div>
            </div>
            <div class="col-lg-6"> <!--2nd side project -->
              <div class="row"> 
                <div class="col-sm-5 text-center pull-right-sm"><!--flipped on small, unflipped on large-->
                  <h4 class="portfolio-projects--title">Task Timer</h4>
                  <p class="portfolio-projects--desc">A Pomodoro clock timer with a task list integration</p>
                  <p class="portfolio-projects--desc">Uses: Javascript, JQuery, Bootstrap</p>
                  <a class="#" role="button">View Project</a>
                </div>
                <div class="col-sm-7 text-center pull-right-sm"><!--flipped on small, unflipped on large-->
                  <img class="img- portfolio-projects--image" src="img/col11.jpg">
                </div>
              </div>
            </div>
          </div><!--end Two project row-->

          <div class="row portfolio-projects"> <!-- Opposite Two project row-->
            <div class="col-lg-6"> <!--1st side project -->
              <div class="row"> 
                <div class="col-sm-5 text-center">
                  <h4 class="portfolio-projects--title">Whats the Weather</h4>
                  <p class="portfolio-projects--desc">A weather app to check current weather conditions.</p>
                  <p class="portfolio-projects--desc">Uses: Javascript, Jquery, APIs</p>
                  <a class="#" role="button">View Project</a>
                </div>
                <div class="col-sm-7 text-center">
                  <img class="img- portfolio-projects--image" src="img/busdesign.jpg">
                </div>
              </div>
            </div>
            <div class="col-lg-6"> <!--2nd side project -->
              <div class="row"> 
                <div class="col-sm-5 text-center pull-right-sm"><!--flipped on small, unflipped on large-->
                  <h4 class="portfolio-projects--title">Simon Game</h4>
                  <p class="portfolio-projects--desc">A simple recreation of the 80s game Simon.</p>
                  <p class="portfolio-projects--desc">Uses: Javascript, Sass, JQuery</p>
                  <a class="btn btn-rounded portfolio-projects--btn" href="https://helgasurenzhskaya.github.io/hands.design/" role="button">View Project</a>
                </div>
                <div class="col-sm-7 text-center pull-right-sm"><!--flipped on small, unflipped on large-->
                  <img class="img- portfolio-projects--image" src="https://public-media.driftvideo.com/videos-gifs/HYFY-RECORDING-722007-755473-1560848755.0.gif">
                </div>
              </div>
            </div>
          </div><!--end Opposite Two project row-->

        </div>
        
      </div><!-- End #Portfolio -->
    </section>
  
    
		<!-- Stats section - present a collection of fun stats -->
		<div class="stats section">
			<ul class="stats-listing">
				<li><span class="count">45</span> successful projects</li>
				<li><span class="count">36</span> happy clients</li>
                <li><span class="count">36</span> happy clients</li>
				<li><span class="count">852</span> cups of coffee</li>
			</ul>
		</div>
 

      
      
      
      
      
      
      
        
<div ng-app="myApp" ng-controller="MyCtrl">
  <script type="text/ng-template" id="expandable_fixed_height.html">
  <div>
    <div class="fixed-height" ng-transclude></div>
    <a class="toggle-trigger">Show more</a>
  </div>
</script>


<div class="gallery-container">
  <a class="arrow-container arrow-container-left" ng-click="left()">
    <div class="arrow"><i class="fa fa-angle-left fa-4x"></i></div>
  </a>
  <a class="arrow-container arrow-container-right" ng-click="right()">
    <div class="arrow"><i class="fa fa-angle-right fa-4x"></i></div>
  </a>
  <div class="gallery-content">
    <div class="tile" ng-repeat="tile in tiles" id="tile-{{tile}}">{{tile}}</div>
  </div>
</div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

      
      
      
      

      <section id="skills">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <div class="section_title">
       <h2>My key skills</h2>
       
     </div>
    </div>
   </div>
   <div class="service_area">
    <div class="row">
     <div class="col-md-6">
      <div class="skill_left">
      
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <br/>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
      </div> 
     </div> 
     <div class="col-md-6 skills_bar_design">
      <div class="progress-bar-linear">
       <p class="progress-bar-text">Graphics Design 
         <span class="float_right">85%</span>
       </p>
       <div class="progress-bar">
         <span data-percent="85"></span>
       </div>
      </div>
      <div class="progress-bar-linear">
       <p class="progress-bar-text">Web design
         <span class="float_right">98%</span>
       </p>
       <div class="progress-bar">
         <span data-percent="98"></span>
       </div>
      </div>

      <div class="progress-bar-linear">
       <p class="progress-bar-text">Web development 
         <span class="float_right">95%</span>
       </p>
       <div class="progress-bar">
        <span data-percent="95"></span>
       </div>
      </div>

      <div class="progress-bar-linear">
       <p class="progress-bar-text">Wordpress Theme
        <span class="float_right"> 80% </span>
       </p>
       <div class="progress-bar">
         <span data-percent="80"></span>
       </div>
      </div>

     </div>       
    </div>
   </div>
  </div>
 </section>
      
      
      
      
      
      
      
      
      
      
      
      

  
      </main>

      
<!-- Footer -->
<footer id="footer">
  <div class="wrapper">

      
       
  <div class="copyright">
    <p>&copy 2019 - Helga Surenzhskaya</p>
  </div>
  <div class="social">
      
          
    <a href="mailto:helga.surenzhskaya@gmail.com" class="support">Send message</a>
    <a href="#" class="face">f</a>
    <a href="#" class="tweet">t</a>
    <a href="#" class="linked">in</a>
  </div>
</div></footer>
    
    </div>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js'></script>
    
    <script>angular.module('myApp',[])
.directive('expandableFixedHeight', function() {
  return {
    restrict: 'EA',
    transclude: true,
    link: function(scope, elm, attrs) {
      var collapsed = true;
      var maxHeight = 500;
      var collapsedHeight = scope.$eval(attrs.expandableFixedHeight);
      var fixedContainer = $(elm).find('.fixed-height');
      var toggleTrigger = $(elm).find('.toggle-trigger');
      fixedContainer.css('overflow', 'hidden');
      fixedContainer.css('maxHeight', collapsedHeight);
      var toggleState = function() {

        if (!collapsed) {
          // compute current height and set as max height
          maxHeight = fixedContainer.height();
          fixedContainer.css('maxHeight', maxHeight);
          fixedContainer.animate({maxHeight: collapsedHeight});
        } else {
          fixedContainer.animate({maxHeight: maxHeight}, function() {
            fixedContainer.css('maxHeight', 'none');
          })
        }
        collapsed = !collapsed;
      }
      
      toggleTrigger.on('click', toggleState);
      
    },
    templateUrl: 'expandable_fixed_height.html'
  }
})
.controller('MyCtrl', function($scope) {
  $scope.tiles = [1,2,3,4,5,6,7,8,9,10];
  var currentPlace = 0;
  var contentContainer = $('.gallery-content');
  function getViewportSize() {
    return $(document.body).outerWidth()/2;
  }
  $scope.left = function() {
    contentContainer.animate({
      scrollLeft: '-=' + getViewportSize()
    })
  };
  $scope.right = function() {
    contentContainer.animate({
      scrollLeft: '+=' + getViewportSize()
    })
  }
});</script>

<script>(function($) {
    $.fn.appear = function(fn, options) {

        var settings = $.extend({

            //arbitrary data to pass to fn
            data: undefined,

            //call fn only on the first appear?
            one: true,

            // X & Y accuracy
            accX: 0,
            accY: 0

        }, options);

        return this.each(function() {

            var t = $(this);

            //whether the element is currently visible
            t.appeared = false;

            if (!fn) {

                //trigger the custom event
                t.trigger('appear', settings.data);
                return;
            }

            var w = $(window);

            //fires the appear event when appropriate
            var check = function() {

                //is the element hidden?
                if (!t.is(':visible')) {

                    //it became hidden
                    t.appeared = false;
                    return;
                }

                //is the element inside the visible window?
                var a = w.scrollLeft();
                var b = w.scrollTop();
                var o = t.offset();
                var x = o.left;
                var y = o.top;

                var ax = settings.accX;
                var ay = settings.accY;
                var th = t.height();
                var wh = w.height();
                var tw = t.width();
                var ww = w.width();

                if (y + th + ay >= b &&
                    y <= b + wh + ay &&
                    x + tw + ax >= a &&
                    x <= a + ww + ax) {

                    //trigger the custom event
                    if (!t.appeared) t.trigger('appear', settings.data);

                } else {

                    //it scrolled out of view
                    t.appeared = false;
                }
            };

            //create a modified fn with some additional logic
            var modifiedFn = function() {

                //mark the element as visible
                t.appeared = true;

                //is this supposed to happen only once?
                if (settings.one) {

                    //remove the check
                    w.unbind('scroll', check);
                    var i = $.inArray(check, $.fn.appear.checks);
                    if (i >= 0) $.fn.appear.checks.splice(i, 1);
                }

                //trigger the original fn
                fn.apply(this, arguments);
            };

            //bind the modified fn to the element
            if (settings.one) t.one('appear', settings.data, modifiedFn);
            else t.bind('appear', settings.data, modifiedFn);

            //check whenever the window scrolls
            w.scroll(check);

            //check whenever the dom changes
            $.fn.appear.checks.push(check);

            //check now
            (check)();
        });
    };

    //keep a queue of appearance checks
    $.extend($.fn.appear, {

        checks: [],
        timeout: null,

        //process the queue
        checkAll: function() {
            var length = $.fn.appear.checks.length;
            if (length > 0) while (length--) ($.fn.appear.checks[length])();
        },

        //check the queue asynchronously
        run: function() {
            if ($.fn.appear.timeout) clearTimeout($.fn.appear.timeout);
            $.fn.appear.timeout = setTimeout($.fn.appear.checkAll, 20);
        }
    });

    //run checks when these methods are called
    $.each(['append', 'prepend', 'after', 'before', 'attr',
        'removeAttr', 'addClass', 'removeClass', 'toggleClass',
        'remove', 'css', 'show', 'hide'], function(i, n) {
        var old = $.fn[n];
        if (old) {
            $.fn[n] = function() {
                var r = old.apply(this, arguments);
                $.fn.appear.run();
                return r;
            }
        }
    });

})(jQuery);

$('.progress-bar > span').each(function () {
            var $this = $(this);
            var width = $(this).data('percent');
            $this.css({
                'transition': 'width 3s'
            });
            setTimeout(function () {
                $this.appear(function () {
                    $this.css('width', width + '%');
                });
            }, 500);
        });</script>
    
    <script>var TxtType = function(el, toRotate, period) {
		        this.toRotate = toRotate;
		        this.el = el;
		        this.loopNum = 0;
		        this.period = parseInt(period, 10) || 2000;
		        this.txt = '';
		        this.tick();
		        this.isDeleting = false;
		    };
		
		    TxtType.prototype.tick = function() {
		        var i = this.loopNum % this.toRotate.length;
		        var fullTxt = this.toRotate[i];
		
		        if (this.isDeleting) {
		        this.txt = fullTxt.substring(0, this.txt.length - 1);
		        } else {
		        this.txt = fullTxt.substring(0, this.txt.length + 1);
		        }
		
		        this.el.innerHTML = '<span class="wrapp">'+this.txt+'</span>';
		
		        var that = this;
		        var delta = 200 - Math.random() * 100;
		
		        if (this.isDeleting) { delta /= 2; }
		
		        if (!this.isDeleting && this.txt === fullTxt) {
		        delta = this.period;
		        this.isDeleting = true;
		        } else if (this.isDeleting && this.txt === '') {
		        this.isDeleting = false;
		        this.loopNum++;
		        delta = 500;
		        }
		
		        setTimeout(function() {
		        that.tick();
		        }, delta);
		    };
		
		    window.onload = function() {
		        var elements = document.getElementsByClassName('typewrite');
		        for (var i=0; i<elements.length; i++) {
		            var toRotate = elements[i].getAttribute('data-type');
		            var period = elements[i].getAttribute('data-period');
		            if (toRotate) {
		              new TxtType(elements[i], JSON.parse(toRotate), period);
		            }
		        }
		        // INJECT CSS
		        var css = document.createElement("style");
		        css.type = "text/css";
		        css.innerHTML = ".typewrite > .wrapp { border-right: 0.08em solid #FA7268}";
		        document.body.appendChild(css);
		    };</script>
</body>

</html>
