<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Surenzh-Art</title>
    <meta name="description" content="Helga Surenzhskaya, UX/UI and graphic designer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./swiper.min.css">
    

</head>

<body>

    <!-- Page content -->
    <div class="wrap">
        <header>
            <a id="logo" href="#hero">S-A</a>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#works">Works</a></li>
                    <li><a href="https://helgasurenzhskaya.github.io/portfolio/resume.pdf">Resume</a></li>

                </ul>
            </nav>
        </header>

        <main id="hero">
            <section class="hero">
                <h3 class="desktop" ><div id="rectangle">
</div><span  style="color:#000;">SURENZH</span>-ART</h3>
                <h3 class="mobile">
                    <span style="color:#000;">SURENZH<br></span>-ART
                    <figure  class="has-animation animation-ltr" data-delay="10">
						<img src="img/logovarmob.png" alt="Helga Surenzhskaya">
					</figure>
                </h3>
                
                <h1>
  <span class="typewrite" data-period="2000" data-type='[ "Hello!", "My name is Helga.", "I&#8217;m a designer who thinks in code." ]'>
    <span class="wrapp"></span>
  </span>
</h1>

             <img class="log" src="img/logovar4.png" style="width: 18%; padding:0; float: left; margin-top: -250px; margin-left: 3rem;" >   
                
                
                
                <hr class="has-animation animation-ltr" data-delay="10" style="width: 450px; height: 20px; left: 16%; ">
            </section>

            <!-- Page content section - basic page content layout -->
            <div class="page section" id="about">
                <h2 class="page-title">about me</h2>
                <div class="page-content">
                    <!-- Graphic -->
                    <div class="graphic">
                        <!-- The graphic for this column should be 750px wide -->
                        <figure>
                            <img src="img/avatar.jpg" alt="Helga Surenzhskaya">
                            <figcaption>
                                I create meaningful designs!
                            </figcaption>
                        </figure>
                    </div>
                    <!-- Text content -->
                    <div class="text text-content">
                        <p>I'm Helga Surenzhskaya, Ukrainian UX/UI and graphic designer.</p>
			    <p>I base my work on key principles of <c>minimalism</c> and <c>usability</c>. But I always apply a special approach to creating every new design, in order to revive <c>the story</c> behind particular project.</p>
			    <p>What's so special in my designs?<br> The answer is simple - I love experimenting with various methods of merging layers. Which means I create <c>unique connections between form and color</c>.</p>
			    <p>Also, I'm an aspiring developer, who believes that modern technologies can make this world a better place for everyone to live. That's why I would like to work in the IT field.</p>

                        <div class="cta">
                            <a href="mailto:helgasurenzhskaya@gmail.com">Get in touch</a>, let's make something awesome together!
                        </div>
                    </div>
                </div>
            </div>

            <section id="works" class="content">
                <div id="portfolio" class="row cover">
                    <h2 class="text-center">Portfolio</h2>
                    <div class="container">
                        <div class="row portfolio-projects">
                            <!-- Two project row-->
                            <div class="col-lg-6">
                                <!--1st side project -->
                                <div class="row">
                                    <div class="col-sm-5 text-center">
					    <h4 class="portfolio-projects--title">Industry 4.0</h4>
                                        <p class="portfolio-projects--desc">Multilingual website created for those who are not indifferent to their future, and are interested in technological progress. It was made for spreading knowledge about the Fourth industrial revolution.</p>
					    <p class="portfolio-projects--desc">Applied: Phalcon framework, MVC architecture, Active record pattern, Phinx, Node, MySQL, PHP, Bootstrap
                                        </p>
                                        <a class="btn portfolio-projects--btn" href="https://github.com/helgasurenzhskaya/Industry-4.0-website" role="button">View Project</a>
                                    </div>
                                    <div class="col-sm-7 text-center">
                                        <a class="touch" href="https://github.com/helgasurenzhskaya/Industry-4.0-website"><video autoplay="autoplay" loop="loop" poster="img/industry2.jpg" muted="muted">
                                            <source src="img/industry2.mp4" type="video/mp4">
						</video></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!--2nd side project -->
                                <div class="row">
                                    <div class="col-sm-5 text-center pull-right-sm">
                                        <!--flipped on small, unflipped on large-->
					    <h4 class="portfolio-projects--title">Howl</h4>
                                        <p class="portfolio-projects--desc">Book cover and layout created for Ukrainian Young Book Design Awards.</p>
					    <p class="portfolio-projects--desc">Used: Adobe InDesign CC, Adobe photoshop CS6</p>
                                        <a class="btn portfolio-projects--btn" href="https://www.behance.net/gallery/82771181/Howl-Book-cover-and-layout?" role="button">View Project</a>
                                    </div>
                                    <div class="col-sm-7 text-center pull-right-sm">
                                        <!--flipped on small, unflipped on large-->
                                        <a href="https://www.behance.net/gallery/82771181/Howl-Book-cover-and-layout?"><img class="img- portfolio-projects--image" src="img/col11.jpg" alt="Howl"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end Two project row-->

                        <div class="row portfolio-projects">
                            <!-- Opposite Two project row-->
                            <div class="col-lg-6">
                                <!--1st side project -->
                                <div class="row">
                                    <div class="col-sm-5 text-center">
                                        <h4 class="portfolio-projects--title">Aspire&Create</h4>
                                        <p class="portfolio-projects--desc">Website design and layout inspired by Bauhaus movement.</p>
					    <p class="portfolio-projects--desc">Applied: TweenMax (GSAP), HTML5, CSS3</p>
                                        <a class="btn portfolio-projects--btn" href="https://helgasurenzhskaya.github.io/hands.design/" role="button">View Project</a>
                                    </div>
                                    <div class="col-sm-7 text-center">
                                        <a class="touch" href="https://helgasurenzhskaya.github.io/hands.design/"> <video autoplay="autoplay" loop="loop" poster="img/last2.jpg" muted="muted">
                                            <source src="img/last2.mp4" type="video/mp4">
						</video></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!--2nd side project -->
                                <div class="row">
                                    <div class="col-sm-5 text-center pull-right-sm">
                                        <!--flipped on small, unflipped on large-->
                                        <h4 class="portfolio-projects--title">Molodist</h4>
                                        <p class="portfolio-projects--desc">Identity and logo design created for 49' International Kyiv Film Festival Molodist.</p>
					    <p class="portfolio-projects--desc">Used: Adobe photoshop CS6</p>
                                        <a class="btn btn-rounded portfolio-projects--btn" href="https://www.behance.net/gallery/82681707/Molodist-logo-and-identity" role="button">View Project</a>
                                    </div>
                                    <div class="col-sm-7 text-center pull-right-sm">
                                        <!--flipped on small, unflipped on large-->
					    <a href="https://www.behance.net/gallery/82681707/Molodist-logo-and-identity"><img class="img- portfolio-projects--image" src="img/present.jpg" alt="Film festival identity concept"></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end Opposite Two project row-->

                    </div>

                </div>
                <!-- End #Portfolio -->
            </section>

            <!-- Stats section - present a collection of fun stats -->
            <div class="stats section">
                <ul class="stats-listing">
			
			<li><span class="count">Winner of</span><b><d><a href="https://www.reggaepostercontest.com/7th-contest-winners-2020/">International Reggae poster contest</a></d></b>
                        <br>25th place in student category (7th contest 2020)</li>
			
                    <li><span class="count">1st place</span><b><d>all-Ukrainian competion Italent</d></b>
                        <br>in nomination Front-end web development (4th season)</li>
			
			<li><span class="count">Usability prize</span><b><d>Huawei</b></d> special prize for outstanding design<br>— additional nomination of<br><b> <d>Young Book Design Awards</d> </b></li>
                    <li><span class="count">1st place</span><b><d>2nd stage of all-Ukrainian competition-defence JAS</d></b>
                        <br> in nomination Internet technologies and Web design</li>
			
			<li><span class="count">World poster campaign</span><b><d><a href="https://readymag.com/u66005728/ZeroCorruption/?fbclid=IwAR31BY4WnY645kyRTWFRxwkmME6N4y8R6CqhOQSWvrC2KcIv6fJggP_0FgM">Zero Corruption conference and 4th Block Association</a></d></b>
                        <br>selected works: "Hype" in "Ecology and climate crisis", <br> "Peek" in "Corruption as a threat to global security" categories</li>
			
			
                   
                </ul>
            </div>

            <div ng-app="myApp" ng-controller="MyCtrl">
                <script type="text/ng-template" id="expandable_fixed_height.html">
                    <div>
                        <div class="fixed-height" ng-transclude></div>
                        <a class="toggle-trigger">Show more</a>
                    </div>
                </script>

                <div id="deskgal" class="gallery-container">
                    <a class="arrow-container arrow-container-left" ng-click="left()">
                        <div class="arrow"><i class="fa fa-angle-left fa-4x"></i></div>
                    </a>
                    <a class="arrow-container arrow-container-right" ng-click="right()">
                        <div class="arrow"><i class="fa fa-angle-right fa-4x"></i></div>
                    </a>
                    <div class="gallery-content">

			    <div class="tile">
                            <img src="img/clff.jpg" alt="Film festival poster">
                        </div>
			   
			   <div class="tile">
                            <img src="img/77-min.jpg" alt="Theather poster">
                        </div>
			  
			     <div class="tile">
                            <img src="img/flute.jpg" alt="Concert poster">
                        </div>
			    
			     
			   <!-- <div class="tile">
                            <img src="img/ctrlsavetheplanetnow26.png" alt="Social poster">
                        </div> -->
			    
                        <div class="tile">
                            <img src="img/posterc.png" alt="Club poster">
                        </div> 
			    
			    
			    
			    <div class="tile">
                            <img src="img/poetry.jpg" alt="Poster">
                        </div>
			    
			    
                      
			    
			    
			   
                        <div class="tile">
                            <img src="img/HISTORY6.jpg" alt="Infographic">
                        </div>
			    
			    

                       
			 

                        <div class="tile">
                            <img src="img/king.jpg" alt="Poster">
                        </div>

                    </div>
                </div>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

            <div id="mobgal" class="gallery-container">
                <div class="gallery-content">
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
				 <div class="swiper-slide">
				<div class="tile">
                            <img src="img/clff.jpg" alt="Film festival poster">
                        </div>
			</div>	
				<div class="swiper-slide">
				<div class="tile">
				<img src="img/77-min.jpg" alt="Theather poster">
				</div></div>
				
				<!-- <div class="swiper-slide">
				<div class="tile">
                            <img src="img/ctrlsavetheplanetnow26.png" alt="Social poster">
					</div></div> -->
				
                            <div class="swiper-slide">
                                <div class="tile">
                                    <img src="img/flute.jpg">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tile">
                                    <img src="img/poetry.jpg">
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="tile">
                                    <img src="img/HISTORY6.jpg">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="tile">
                                    <img src="img/king.jpg">
                                </div>
                            </div>
                           
				<div class="swiper-slide">
				 <div class="tile">
                            <img src="img/posterc.png" alt="Club poster">
                        </div> 
</div>

                        </div>
                        <!-- Add Pagination -->
                        <div style="background: transparent;" class="swiper-pagination"></div>

                    </div>
                </div>
            </div>

            <!--  <section id="testimonials" class="sec-testimonials">
    <div style="width: unset;" class="container">
      <h2 style="text-align: right; font-weight: 600;padding-bottom: 1em;">Clients said</h2>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <p>" did great job when designing our website. It was pleasure to work with him and I'm sure we will hire again."</p>

          <p class="text-right">&mdash; Marc Andressen</p>
        </div>

        <div class="col-sm-4">
          <p >"proved to be truly creative designer who is able to create just stunning design I immediately fell in love with!"</p>

          <p class="text-right">&mdash; Emily Cooper</p>
        </div>

        <div class="col-sm-4">
          <p>"I have worked with several different people and it always seemed like a pain—luckily I found. Thank you!"</p>

          <p class="text-right">&mdash; Scott Grubber</p>
        </div>
      </div>
    </div>
  </section> -->

            <section id="skills">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section_title">
                                <h2>My key skills</h2>

                            </div>
                        </div>
                    </div>
                    <div class="service_area">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skill_left">

                                    <p>I speak <b>English</b> fluently (<b>Upper-Intermediate level</b>).
                                        <br>
                                        <br> I consider myself to be <b>reliable</b>, because I am <b>able to keep deadlines successfully</b>. For example, when I was taking part in a competition Italent I've sent my work on time, while other contestants didn't and Jury had to extend submission terms.
                                        <br>
                                        <br> I can cope with a lot of different tasks at the same time.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 skills_bar_design">

                                <div class="progress-bar-linear">
                                    <p class="progress-bar-text">HTML5
                                        <span class="float_right">90%</span>
                                    </p>
                                    <div class="progress-bar">
                                        <span data-percent="90"></span>
                                    </div>
                                </div>

                                <div class="progress-bar-linear">
                                    <p class="progress-bar-text">CSS3
                                        <span class="float_right">85%</span>
                                    </p>
                                    <div class="progress-bar">
                                        <span data-percent="85"></span>
                                    </div>
                                </div>

                                <div class="progress-bar-linear">
                                    <p class="progress-bar-text">Adobe photoshop CS6
                                        <span class="float_right"> 95% </span>
                                    </p>
                                    <div class="progress-bar">
                                        <span data-percent="95"></span>
                                    </div>
                                </div>

                                <div class="progress-bar-linear">
                                    <p class="progress-bar-text">Graphic Design
                                        <span class="float_right">80%</span>
                                    </p>
                                    <div class="progress-bar">
                                        <span data-percent="80"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="articles__list">
                <article class="article__item">
                    <figure class="article__photo">
                        <a class="article__photo__a" href="https://prodesign.in.ua/2019/02/gif-pereotsinenyj-os-5-prychyn/"><img src="img/cover.png" alt="My article" title="Gif is overrated. 5 reasons why" class="article__image"></a>
                    </figure>
                    <div class="article__body">
                        <div class="article__category">Published on <a class="category__name category__name--twitter" href="https://prodesign.in.ua">Prodesign.in.ua</a></div>
                        <h4 class="article__title"><a class="article__title__a" href="https://prodesign.in.ua/2019/02/gif-pereotsinenyj-os-5-prychyn/">GIF is overrated. 5 reasons why</a></h4>

                        <div class="article__date">
                            <time class="article__time" datetime="February 17, 2019">February 2019</time>
                        </div>
                    </div>

                </article>

                <!--<article class="article__item">
    <figure class="article__photo"><a class="article__photo__a" href="#"><i class="fab fa-twitter"></i></a></figure>
    <div class="article__body">
      <div class="article__category">Because of <a class="category__name category__name--twitter" href="#">Twitter</a></div>
      <h4 class="article__title"><a class="article__title__a" href="#">Title</a></h4>
      <p class="article__text">Text</p>
      <div class="article__date"><time class="article__time" datetime="December 20, 2013">December 2013</time></div>
    </div>

    <a
      class="article__block-link" href="#">Continue Reading</a>
  </article> -->
            </div>

        </main>

        <!-- Footer -->
        <footer id="footer">
            <div class="wrapper">

                <div class="copyright">
                    <p>&copy 2019 - Helga Surenzhskaya</p>
                </div>
		    
                <div class="social">

                    <a href="mailto:helgasurenzhskaya@gmail.com" class="support">helgasurenzhskaya@gmail.com</a>
                    <a href="https://www.behance.net/surenzh" class="face fa-behance"></a>
                    <a href="https://github.com/helgasurenzhskaya" class="tweet fa-github"></a>
                    <a href="https://t.me/surenzh" class="linked fa-send"></a>
                </div>
            </div>
        </footer>

    </div>

    <script src='https://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js'></script>
    <script src='js/script.js'></script>
    <script>
        angular.module('myApp', [])
            .directive('expandableFixedHeight', function() {
                return {
                    restrict: 'EA',
                    transclude: true,
                    link: function(scope, elm, attrs) {
                        var collapsed = true;
                        var maxHeight = 500;
                        var collapsedHeight = scope.$eval(attrs.expandableFixedHeight);
                        var fixedContainer = $(elm).find('.fixed-height');
                        var toggleTrigger = $(elm).find('.toggle-trigger');
                        fixedContainer.css('overflow', 'hidden');
                        fixedContainer.css('maxHeight', collapsedHeight);
                        var toggleState = function() {

                            if (!collapsed) {
                                // compute current height and set as max height
                                maxHeight = fixedContainer.height();
                                fixedContainer.css('maxHeight', maxHeight);
                                fixedContainer.animate({
                                    maxHeight: collapsedHeight
                                });
                            } else {
                                fixedContainer.animate({
                                    maxHeight: maxHeight
                                }, function() {
                                    fixedContainer.css('maxHeight', 'none');
                                })
                            }
                            collapsed = !collapsed;
                        }

                        toggleTrigger.on('click', toggleState);

                    },
                    templateUrl: 'expandable_fixed_height.html'
                }
            })
            .controller('MyCtrl', function($scope) {
                $scope.tiles = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
                var currentPlace = 0;
                var contentContainer = $('.gallery-content');

                function getViewportSize() {
                    return $(document.body).outerWidth() / 2;
                }
                $scope.left = function() {
                    contentContainer.animate({
                        scrollLeft: '-=' + getViewportSize()
                    })
                };
                $scope.right = function() {
                    contentContainer.animate({
                        scrollLeft: '+=' + getViewportSize()
                    })
                }
            });
    </script>

    <!-- Swiper JS -->
    <script src="./swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: '2',
            centeredSlides: true,
            spaceBetween: 5,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

        });
    </script>
<script>$(document).ready(function() {
  $('.has-animation').each(function(index) {
    $(this).delay($(this).data('delay')).queue(function(){
      $(this).addClass('animate-in');
    });
  });
});
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>
